.register-title {
  color: #A8DADC;
  font-size: 65px;
  padding: 0px;
  margin-top: 80px;
  margin-bottom: -10px;
}

.register-input {
  margin-bottom: 0px;
}

/* TABLET BREAKPOINT */
@media only screen and (max-width: 780px) {

  .register-title {
    font-size: 50px;
  }

  .login-input {
    width: 350px;
    height: 45px;
    font-size: 18px;
  }

  .login-submit-button {
    width: 200px;
    height: 200px;
  }

  .login-cloud {
    width: 200px;
  }

  .login-button-text {
    width: 90%;
    font-size: 20px;
  }

}