.homepage {
  display: flex;
  text-align: center;
  height: 100%;
  min-height: 100vh;
  justify-content: center;
  flex-direction: column;
  background-image: url('../../assets/images/backgroundimg.jpg');
  background-size: cover;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 2px 2px #1D3557;
}

.container {
  height: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgb(0,0,0,0),rgb(0,0,0,.5));
}

.homepage-title {
  font-family: 'Yellowtail', cursive;  
  font-size: 150px;
  margin-bottom: 0;
}

.homepage-cloud {
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.homepage-arrow {
  width: 75px;
  height: 75px;
}