.all-destinations {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

.destinations-hero-img {
  background-image: url('../../assets/images/backgroundimg.jpg');
}

.destinations-container{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  margin-top: 75px;
  /* background-color: #F1FAEE; */
}

.thumbnail-images {
  width: 425px;
  height: 425px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  margin: 20px 40px 20px 40px;
}

.thumbnail-text {
  font-size: 45px;
  font-weight: bold;
  text-shadow: 2px 2px #1D3557;
  text-transform: uppercase;
}

.thumbnail-text-link {
  text-decoration: none;

  color: #F1FAEE;
}