.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1D3557;
  padding: 10px;
  color: #F1FAEE;
}

#header-logo {
  font-family: 'Yellowtail', cursive;  
  text-decoration: none;
  font-size: 45px;
  color: #F1FAEE;
  padding-left: 20px;
}

.user-login-section {
  display: flex;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}

.cloud-img {
  width: 50px;
  height: 50px;
  padding-right: 15px;
}

.logout-button {
  background-color: transparent;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #F1FAEE;
}

.logout-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.login-section-break {
  padding: 0px 5px 0px 10px;
}

.login-section-links {
  font-weight: bold;
  font-size: 18px;
  color: #F1FAEE;
  text-decoration: none;
}

.login-section-links:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* MOBILE BREAKPOINT */
@media only screen and (max-width: 500px) {
  
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    padding: 0px;
  }

  .logo-section {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  #header-logo {
    width: 100%;
    margin: 0 auto;
    font-size: 70px;
    padding-left: 0px;
  }
  
  .user-login-section {
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
  }
  
  .cloud-img {
    width: 50px;
    height: 50px;
    padding-right: 15px;
  }
  
  .logout-button {
    background-color: transparent;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: #F1FAEE;
  }
  
  .logout-button:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .login-section-break {
    padding: 0px 5px 0px 10px;
  }
  
  .login-section-links {
    font-weight: bold;
    font-size: 18px;
    color: #F1FAEE;
    text-decoration: none;
  }
  
  .login-section-links:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}